<div class="item">
  <% @merchandises.each do |merchandise| %>
   <div class="item__img">
    <%= image_tag merchandise.merchandise_url %>
  </div>
  <%= link_to "購入画面",merchandise_path(merchandise.id) %>
  <% end %>
</div>
