<div class="purchase">
  <div class="purchase__inner">
    <div class="purchase__body">
      <div class="purchase__image">
        <%= image_tag @merchandise.merchandise_url %>
      <div>
      <div class="purchase__btn">
        <p>+</p>
        <p>-</p>
      </div>
    </div>
  </div>
</div>